/* TODO: selects all elements and changes the font*/
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* TODO: selects the element body and everything in it */
body {
  background-color: lemonchiffon;
}

header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

figure {
  width: 200px;
  background-color: #f0ead6;
}

/* TODO: selects the class element and changes the font thickness */
.highlighted-text {
  font-weight: bolder;
}

/* TODO: selects the id tag and changes the background color */
#contact-section {
  background-color: #f0ead6;
}
